// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes
// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: ($global-margin / 2) auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: ($global-margin / 2);
  height: auto;
}

@include breakpoint(medium) {

  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: ($global-margin / 2);
  }

  .alignright {
    float: right;
    margin-left: ($global-margin / 2);
  }
}

// Captions
.wp-caption {}

.wp-caption>img {}

.wp-caption-text {}

.wp-caption-text {}

// Text meant only for screen readers
.screen-reader-text {
  @extend .show-for-sr;
}
