.banner{
    background-color: $bg-gray;
}
.main-menu  {
    $root:&;
    ul{
        list-style-type: none;
        display: flex;
    }
    a{
        color:$a-gray;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        width: 76px;
        height: 19px;
    }
    li{
        margin: auto;
        padding: 1rem;
    }
}
